@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}
.grid-container {
  height: 100%;
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
}

.header {
  grid-area: header;
  background-color: #203040;
  display: flex;
  align-items: center;
}

body,
select,
input,
button,
textarea {
  font-size: 1.6rem;
  font-family: 'poppins', arial, sans-serif;
}
a {
  text-decoration: none;
}
button {
  padding: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  cursor: pointer;
}
.header a {
  color: #fff;
  text-decoration: none;
}
.header a:hover {
  color: #ff8000;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
/* designing main content*/

.content {
  display: flex;
  flex-wrap: wrap;
}

.main-content {
  flex: 3 60rem;
}
.sidebare {
  flex: 1 20rem;
}
/* disign product container*/
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.products li {
  flex: 0 1 29rem;
  height: 49rem;
  padding: 1rem;
}
/* design product*/

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product img {
  max-width: 37rem;
  max-height: 37rem;
}
.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}
.product-price div {
  font-size: 2rem;
  font-weight: 500;
}
.product-price button:hover {
  border: 0.1rem #808080 solid;
}
.primary {
  background-color: #f0c040;
}
/*filter*/
.filter {
  display: flex;
  justify-content: space-around;

  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.filter div {
  filter: 1;
}

/* designing shopping cart*/

.sidebare {
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-header {
  padding: 1.5rem;
  border-bottom: 0.1rem #918f8f solid;
}
.cart-body {
  list-style-type: none;
  margin: 1rem auto;
  padding: 0px;
}

.cart-body li {
  width: 90%;
  margin: 0 auto;
}
/*cart items*/
.cartItem-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cartItem-image img {
  max-height: 8rem;
  max-width: 9rem;
  margin-right: 0.5rem;
}
.cartItem-body {
  flex: 1;
}
.cartItem-detailes {
  display: flex;

  align-items: center;
}

.cartItem-detailes div,
.cartItem-detailes button {
  flex: 1;
}

.cart-checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1rem auto;
}
.cart-checkout > div,
.cart-checkout button {
  flex: 1;
}
input {
  border: none;
  padding: 1rem;
  background-color: #f8f8f8;
  outline: none;
  border-radius: 0.4rem;
}
/*checkOut form*/
.sheckout-container {
  padding: 1rem;
  margin: 1rem;
}
.form-group {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.button-group {
  display: flex;
  justify-content: space-around;
}
.button-group button {
  flex: 1;
  margin: 1rem;
}
/* product model design*/
.product-container {
  display: flex;
  flex-wrap: wrap;

  max-height: 96vh;
}
.product-img {
  flex: 1 0 40rem;
}
.product-img img {
  max-height: 70vh;
  max-width: 50rem;
  margin-left: 5rem;
}
.product-detailes {
  flex: 2 0 60rem;
}
.product-modal-price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
}
.product-modal-price div {
  flex: 1;
}
.product-modal-price button {
  flex: 2;
}

.model-close {
  background-color: #f0c040;
  position: fixed;
  right: 6rem;
  width: 4rem;
  height: 4rem;
  z-index: 100000;
}

.order-detailes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order-detailes p {
  color: rgb(67, 197, 67);
  font-size: 2rem;
}
.order-detailes ul {
  list-style: none;
}
.order-detailes ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
